<!-- Blog Post -->
<div class="card mb-4 animated fadeIn fast">
  <!-- <img *ngIf="post.author.image" class="card-img-top" style="width: 100%; height: 300px; object-fit: cover" [src]="post.author.image" alt="Card image cap"> -->
  <div class="card-body">
        <button  *ngIf="(user$ | async)?.isAdmin || ((user$ | async)?.uid == post.author?.uid)" type="button" class="close" (click)="deletePost(post.id)" >
            <span aria-hidden="true">&times;</span>
          </button>
      <h2 class="card-title"> {{ post.title }}</h2> 
      <p class="card-text text-justify"> {{ post.description }}</p>
      <!-- <a [routerLink]="[post.author.username, 'posts', post.slug]" href="#" class="btn btn-primary float-right">Seguir Leyendo &rarr;</a> -->
    </div>
    <div class="card-footer text-muted">
      Publicado: {{ post.createdAt.toDate() | date:'short' }} por 
      <a href="#">{{ post.author.username }}</a>
      en 
      <a href="#" [routerLink]="['/posts','categoria',post.category.value]" >{{ post.category.label }}</a>

    </div>
  </div>