<div class="row">
  <div class="col-md-6 offset-md-3">

    <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="my-4">Iniciar Sesión</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" ngModel name="email" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" ngModel name="password" class="form-control" placeholder="Contraseña" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <div class="text-block text-center my-3">
            <span class="text-small font-weight-semibold">No estas registrado? </span>
            <br>
            <a routerLink="/register" class="text-black text-small">Crear una cuenta</a>
          </div>
      </form>
  </div>
  
</div>