<div class="row">
    <div class="col-md-6 offset-md-3">
  
      <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-signin">
          <h1 class="my-4">Registro</h1>
          <input type="text" ngModel name="username" class="form-control" placeholder="Usuario" required autofocus>
          <input type="text" ngModel name="name" class="form-control br-0" placeholder="Nombre" required>
          <input type="email" ngModel name="email" class="form-control" placeholder="Email" required>
          <input type="password" ngModel name="password" class="form-control" placeholder="Contraseña" required>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Crear cuenta</button>
          <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">Ya tienes una cuenta?</span>
              <br>
              <a routerLink="/login" class="text-black text-small">Login</a>
            </div>
        </form>
    </div>
    
  </div>