<h1 class="my-4">Nueva Entrada</h1>
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input ngModel name="title" class="form-control form-control-lg" placeholder="Título"
        type="text">
    </div>

    <div class="form-group">
      <input class="form-control" ngModel name="description" placeholder="De qué trata este post?"
        type="text">
    </div>
    
    <div class="form-group">
      <textarea class="form-control" ngModel name="body" placeholder="Escriba el detalle de su entrada."
      rows="8"></textarea>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category">Categoria</label>
        </div>
        <select class="custom-select" id="category" ngModel name="category">

          <option selected>Seleccione...</option>
          <ng-container *ngFor="let categoria of categorias$ | async ">
            <option [ngValue]="categoria"> {{ categoria.label }}</option>
          </ng-container>

        </select>
      </div>
    
    <div class="form-group">
      <input class="form-control" ngModel name="tagsList" placeholder="Etiquetas (separadas por comas. ',') " type="text">
      <div class="tag-list">
      </div>
    </div>

    <button class="btn btn-lg pull-xs-right btn-primary float-right" type="submit">
      Publicar Entrada
    </button>
</form>