    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" routerLink="/" href="#">Todo Cupo.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="/" href="#">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/'" href="#">Inicio</a>
            </li>
            <ng-container *ngIf="isAuth$ | async">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/new-post" href="#">Nueva Entrada</a>
              </li>
              <li class="nav-item" *ngIf="(user$ | async)?.isAdmin">
                <a class="nav-link" routerLinkActive="active" routerLink="/categorias" href="#">Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer" (click)="logout()"  href="#">Salir</a>
              </li>
            </ng-container>
            <ng-container *ngIf="!(isAuth$ | async)">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/login" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/register" href="#">Registro</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>