<app-navbar></app-navbar>

<!-- Page Content -->
<div class="container">

  <div class="row" >

    <!-- Blog Entries Column -->
    <div class="col-md-8" style="margin-bottom: 8rem">

      <router-outlet></router-outlet>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 " style="margin-bottom: 8rem">

      <app-sidebar ></app-sidebar>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<app-footer></app-footer>