<!-- Search Widget -->
<div class="sticky-top" style="top: 5rem">

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
      <div class="items">
        <ul class="list-unstyled mb-0">
          <ng-container *ngFor="let categoria of categorias$ | async">
            <li class="item">
              <a href="" [routerLink]="['posts','categoria', categoria.value]" > {{ categoria.label }}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <!-- <h5 class="card-header">Side Widget</h5> -->
    <div class="car-header">
      
    </div>
    <div class="card-body">
        <div class="input-group mb-3"  *ngIf="( user$ | async)?.isAdmin">
          <input #img type="text" class="form-control" placeholder="Nueva imagen (url)">
          <div class="input-group-append">
            <button  class="btn btn-primary" type="button" id="button-addon2" (click)="guardaImagen(img.value)">Guardar</button>
          </div>
        </div>
        <img style="width: 100%; min-height: 500px; object-fit: cover" [src]="imagen?.url || 'https://dummyimage.com/200x500/333/fff'" alt="">
    </div>
  </div>
  <div class="card my-4">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo obcaecati ut repudiandae, ducimus sequi delectus temporibus veniam odit itaque placeat quisquam numquam consectetur debitis, illo dicta ipsum. Mollitia, animi nihil?</p>
    </div>
  </div>
</div>