<h1 class="my-4">Categorias
  <span class="badge badge-success">
    {{ (categorias$ | async)?.length }}
  </span>
</h1>
<app-nueva-categoria></app-nueva-categoria>
<ul class="list-group">
  <ng-container *ngFor="let categoria of categorias$ | async; let count = count">
    <li class="list-group-item">
      <a href="" [routerLink]="['categoria', categoria.value]" > {{ categoria.label }}</a> </li>
  </ng-container>

</ul>