/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }
  
  footer {
    /* margin-bottom: 33rem; */
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  