<h1 class="my-4">Últimas Entradas
    <small *ngIf="!categoria">Todas las Categorias</small>
    <small class="animated fadeIn fast" *ngIf="categoria">({{ categoria.label }})</small>
  </h1>

  <app-post [posts]="posts"></app-post>

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>