    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Javier Fajardo & Harry Fonseca - 2018</p>
      </div>
      <!-- /.container -->
    </footer>