<form (ngSubmit)="onSubmit()"  #f="ngForm">
  <div class="row">
    <div class="col-md-8 col-sm-7">
      <label for="inputEmail" class="sr-only">Nombre</label>
      <input  
        pattern="[a-zA-Z0-9 ]*" 
        type="text" 
        id="inputName" 
        ngModel
        name="label" 
        class="form-control form-control-lg" 
        placeholder="Nombre" 
        required 
        autofocus
        [ngClass]="{
          'is-invalid': form.invalid && form.touched
        }">
    </div>
    <div class="col-md-4 col-sm-5">
      <button [disabled]="form.invalid && form.touched" class="btn btn-lg btn-primary btn-block" type="submit">Agregar</button>
    </div>
  </div>
</form>
<hr>